<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>spring-security-multiple-logins-example</title>
</head>

<body>
  <h1>Protected 2 / Logout</h1>

  <form th:action="@{/protected2/logout}" action="login.html" method="POST">
    <p><button>ログアウト</button></p>
  </form>
  <ul>
  	<li><a href="#" th:href="@{/protected2}">保護ページへ戻る</li>
  </ul>
</body>

</html>