<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Form Example</title>
</head>
<body>
  <h1>Form Example</h1>
  <p th:if="${post}" th:text="${post}"></p>
  <form method="POST" th:action="@{/nested-form-example}" th:object="${nestedExampleForm}">
    <div th:each="form, stat : ${nestedExampleForm.subs}">
      <p>
        <input type="text" th:field="*{subs[__${stat.index}__].field1}" th:errorclass="invalid" />
        <span th:if="${#fields.hasErrors('subs[' + stat.index + '].field1')}"
          th:errors="*{subs[__${stat.index}__].field1}"></span>

        <label>
          <input type="radio" th:field="*{subs[__${stat.index}__].field2}" th:errorclass="invalid"
            value="foo" />
          foo
        </label>
        <label>
          <input type="radio" th:field="*{subs[__${stat.index}__].field2}" th:errorclass="invalid"
            value="bar" />
          bar
        </label>
        <label>
          <input type="radio" th:field="*{subs[__${stat.index}__].field2}" th:errorclass="invalid"
            value="baz" />
          baz
        </label>
        <span th:if="${#fields.hasErrors('subs[' + stat.index + '].field2')}"
          th:errors="*{subs[__${stat.index}__].field2}"></span>


        <select th:field="*{subs[__${stat.index}__].field3}" th:errorclass="invalid">
          <option value=""></option>
          <option value="foo">foo</option>
          <option value="bar">bar</option>
          <option value="baz">baz</option>
        </select>
        <span th:if="${#fields.hasErrors('subs[' + stat.index + '].field3')}"
          th:errors="*{subs[__${stat.index}__].field3}"></span>

        <input type="checkbox" th:field="*{subs[__${stat.index}__].field4}" th:errorclass="invalid" />
        <span th:if="${#fields.hasErrors('subs[' + stat.index + '].field4')}"
          th:errors="*{subs[__${stat.index}__].field4}"></span>
      </p>
    </div>
    <p>
      <button type="submit">投稿する</button>
    </p>
  </form>
</body>
</html>
