<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Thymeleaf example</title>
</head>
<body>
	<ul>
		<li><a href="../various/index.html" th:href="@{/various}">いろいろ</a>
		<li><a href="../checkbox/index.html" th:href="@{/checkbox}">チェックボックス</a>
		<li><a href="../select/index.html" th:href="@{/select}">セレクトボックス</a>
		<li><a href="../textarea/index.html" th:href="@{/textarea}">テキストエリア</a>
		<li><a href="../nested-form/index.html" th:href="@{/various}">ネストしたフォーム</a>
		<li><a href="../tate-yoko/index.html" th:href="@{/tate-yoko}">縦を横に</a>
	</ul>
</body>
</html>
