<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Example</title>
  </head>
  <body>
    <h1>パスワード変更</h1>
    <p><a th:href="@{/}">戻る</a></p>
    <form th:action="@{/password}" method="POST" th:object="${passwordForm}">
      <p th:if="${message}" th:text="${#messages.msg(message)}"></p>
      <table border="1">
        <tr>
          <th>現在のパスワード</th>
          <td>
            <input type="password" th:field="*{currentPassword}"/>
            <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
          </td>
        </tr>
        <tr>
          <th>新しいパスワード</th>
          <td>
            <input type="password" th:field="*{newPassword}"/>
            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
          </td>
        </tr>
        <tr>
          <th>新しいパスワード（確認）</th>
          <td>
            <input type="password" th:field="*{confirmPassword}"/>
            <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
            <div th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit">パスワードを変更する</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
