<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Form Example</title>
</head>
<body>
	<h1>Form Example</h1>
	<p th:if="${posted}" th:text="${#messages.msg('formExample.posted')}"></p>
	<form method="POST" th:action="@{/form-example}"
		th:object="${exampleForm}">
		<p>
			<input type="text" th:field="*{field1}" th:errorclass="invalid" /> <span
				th:if="${#fields.hasErrors('field1')}" th:errors="*{field1}"></span>
		</p>
		<p>
			<label><input type="radio" th:field="*{field2}"
				th:errorclass="invalid" value="foo" /> foo</label> <label><input
				type="radio" th:field="*{field2}" th:errorclass="invalid"
				value="bar" /> bar</label> <label><input type="radio"
				th:field="*{field2}" th:errorclass="invalid" value="baz" /> baz</label> <span
				th:if="${#fields.hasErrors('field2')}" th:errors="*{field2}"></span>
		</p>
		<p>
			<select th:field="*{field3}" th:errorclass="invalid">
				<option value=""></option>
				<option value="foo">foo</option>
				<option value="bar">bar</option>
				<option value="baz">baz</option>
			</select> <span th:if="${#fields.hasErrors('field3')}" th:errors="*{field3}"></span>
		</p>
		<p>
			<input type="checkbox" th:field="*{field4}" th:errorclass="invalid" />
			<span th:if="${#fields.hasErrors('field4')}" th:errors="*{field4}"></span>
		</p>
		<p>
			<button type="submit">投稿する</button>
		</p>
	</form>
</body>
</html>
