<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ワンタイムパスワードの入力</title>
  </head>
  <body>
    <h1>ワンタイムパスワードの入力</h1>
    <p><code>1234</code>を入力すると認証が成功するようにしています。</p>
    <form action="#" th:action="@{/oneTimePassword}" method="POST" th:object="${oneTimePasswordForm}">
    	<p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></p>
    	<p><input th:field="*{oneTimePassword}" type="text" maxlength="4"></p>
    	<p>
    		<input th:field="*{trustMe}" type="checkbox">
    		このブラウザでは次回から2要素認証を省略する
    	</p>
    	<p><button>送信する</button></p>
    </form>
    <p>(2要素認証に成功していない今の状態で<a href="#" th:href="@{/home}">ホーム画面</a>を開いても403エラーになる)</p>
  </body>
</html>
