<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Upload Example</title>
</head>
<body>
	<h1>Upload Example</h1>

	<form th:action="@{/upload}" method="POST"
		enctype="multipart/form-data">
		<p>
			<input type="file" name="file" />
			<button type="submit" name="singleFile">単一ファイルのアップロード</button>
		</p>
	</form>
	<form th:action="@{/upload}" method="POST"
		enctype="multipart/form-data">
		<p>
			<input type="file" name="files" multiple />
			<button type="submit" name="multiFiles">複数ファイルのアップロード</button>
		</p>
	</form>

	<hr />

	<form th:action="@{/upload}" method="POST"
		enctype="multipart/form-data" th:object="${singleFileForm}">
		<p>
			<input type="file" th:field="*{file}" />
			<button type="submit" name="singleFileWithModel">単一ファイルのアップロード(モデルにマッピング)</button>
		</p>
		<p th:errors="*{empty}"></p>
	</form>
	<form th:action="@{/upload}" method="POST"
		enctype="multipart/form-data" th:object="${multiFilesForm}">
		<p>
			<input type="file" th:field="*{files}" multiple />
			<button type="submit" name="multiFilesWithModel">複数ファイルのアップロード(モデルにマッピング)</button>
		</p>
		<p th:errors="*{files}"></p>
		<p th:errors="*{empty}"></p>
	</form>

	<hr />

	<div th:if="${uploadedFiles}">
		<p th:text="${message}">...</p>
		<ul>
			<li th:each="uploadedFile : ${uploadedFiles}"
				th:text="${uploadedFile}">...</li>
		</ul>
	</div>
</body>
</html>
