<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MessageMapper">

	<insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO messages (
			content
		) VALUES (
			#{content}
		)
	</insert>

	<select id="selectAll" resultType="com.example.model.Message">
		SELECT
			id,
			content
		FROM
			messages
		ORDER BY
			id ASC
	</select>

</mapper>