<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>ページング部品</title>
</head>
<body>
	<div th:fragment="navigation(page)" th:remove="tag">
		<p>
			<button type="submit" name="page"
				th:value="${page.pageable.first().pageNumber}"
				th:disabled="${page.first}">&lt;&lt;</button>
			<button type="submit" name="page"
				th:value="${page.previousOrFirstPageable().pageNumber}"
				th:disabled="${!page.hasPrevious()}">&lt;</button>
			<button th:each="pageNumber : ${@pagingViewHelper.pageNumbers(page)}"
				type="submit" name="page" th:value="${pageNumber}"
				th:text="${pageNumber + 1}" th:disabled="${pageNumber == page.number}"></button>
			<button type="submit" name="page"
				th:value="${page.nextOrLastPageable().pageNumber}"
				th:disabled="${!page.hasNext()}">&gt;</button>
			<button type="submit" name="page" th:value="${page.totalPages - 1}"
				th:disabled="${page.last}">&gt;&gt;</button>
		</p>
	</div>
</body>
</html>
