<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Simple BBS</title>
    </head>
    <body>
        <p data-th-unless="${principal}">
            <a href="#" data-th-href="@{'/login'}">Login</a>
        </p>
        <!--/*/
        <p data-th-if="${principal}">
            <span data-th-text="${principal.name}">user</span>
        </p>
        /*/-->
        <form method="post" data-th-action="@{'/post'}" data-th-if="${principal}">
            <p>
                <input type="text" name="content"/>
                <button type="post">Submit</button>
            </p>
        </form>
        <ul>
            <li data-th-each="post : ${posts}">
                <span data-th-text="${post.user}">funya</span>
                :
                <span data-th-text="${post.content}">ほにゃら〜</span>
            </li>
        </ul>
    </body>
</html>
