<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.example.mapper.ExampleMapper">

	<sql id="criteria">
		<where>
			<if test="content != null and content != ''">
				and content like #{content} || '%'
			</if>
		</where>
	</sql>

	<select id="countExampleByCriteria" resultType="_int">
		select count(*)
		from example
		<include refid="criteria" />
	</select>

	<select id="selectExampleByCriteria" resultType="com.example.example.dto.ExampleDto">
		select id, content
		from example
		<include refid="criteria" />
		order by id asc
		limit #{pageable.pageSize}
		offset #{pageable.offset}
	</select>

</mapper>
